@font-face {
	font-family: icon;
	src: url(../fonts/icomoon.ttf);
}
* {
	box-sizing: border-box;
}
.aide-visuelle {
	border: 1px black solid;
}
body {
	margin: 0;
}
#page {
	width:760px;
	margin:0 auto;
}

/* -----------------------------------------------
header
----------------------------------------------- */
.header {
	background-color: #2196F3;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.header h1 {
	margin-top: 0;
}
.header ul {
	padding: 0;
	margin: 0;
}
.header li {
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border: 1px #0f0f0f solid;
	transition: background 0.5s;
}
.header li:hover {
	background-color: #536DFE;
}
.header a {
	text-decoration: none;
	color: black;
}

/* -----------------------------------------------
contenu
----------------------------------------------- */
.content {
	display: inline-block;
	vertical-align: top;
	width: 600px;
	padding-left: 20px;
}
.content article {
	margin: 20px 0;
}
.content footer {
	text-align: right;
}
/* -----------------------------------------------
side bar
----------------------------------------------- */
.sidebar {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	float: right;
	background: #ececec;
}
.sidebar .mail {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* -----------------------------------------------
footer
----------------------------------------------- */
.footer {
	background-color: white;
	text-align: center;
}
.footer-nav-list {
	padding: 0;
}
.footer-nav-item {
	display: inline-block;
	width: 200px;
}
.twitter:before {
	font-family: icon;
	margin-right: 5px;
	content: "\ea96";
}
.github:before {
	font-family: icon;
	margin-right: 5px;
	content: "\eab0";
}
.webiste:before {
	font-family: icon;
	margin-right: 5px;
	content: "\e9ca";
}
